body {
  font-size: 40px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.trainer__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer__layout-trainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.trainer__layout-trainer-question {
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.trainer__layout-trainer-word {
  font-size: 48px;
  margin-bottom: 16px;
  color: blue;
  line-height: 100%;
}

.trainer__layout-trainer-counter {
  font-size: 16px;
  color: gray;
}

.trainer__layout-trainer-input {
  margin-bottom: 16px;
  font-size: 40px;
  width: 300px;
  border-radius: 8px;
  padding-left: 8px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  box-sizing: border-box;
}

.trainer__layout-trainer-submit {
  margin-bottom: 16px;
  width: 300px;
  border-radius: 8px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  background: #15c39a;
  color: white;
  text-align: center;
  cursor: pointer;
}

.trainer__layout-trainer-submit:hover {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  background: rgb(65, 65, 65);
}

.trainer__layout-trainer-answer {
  font-size: 40px;
  margin-bottom: 16px;
}

.bg-success {
  background-color: #28a745 !important;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
  background-size: 16px 16px;
}

.progress-bar {
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}

.progress, .progress-bar {
  display: flex;
  overflow: hidden;
}

.progress {
  height: 16px;
  font-size: 8px;
  background-color: #e9ecef;
  border-radius: 4px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
