.trainer__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer__layout-trainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.trainer__layout-trainer-question {
  font-size: 32px;

  margin-bottom: 8px;
}

.trainer__layout-trainer-word {
  font-size: 48px;
  margin-bottom: 24px;
  color: green;

}

.trainer__layout-trainer-answer {
  margin-bottom: 16px;
  font-size: 40px;
  width: 200px;
  border-radius: 8px;
  padding-left: 8px;


}

body {
  font-size: 40px;

}