body {
  font-size: 40px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.trainer__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer__layout-trainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.trainer__layout-trainer-question {
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.trainer__layout-trainer-word {
  font-size: 48px;
  margin-bottom: 16px;
  color: blue;
  line-height: 100%;
}

.trainer__layout-trainer-counter {
  font-size: 16px;
  color: gray;
}

.trainer__layout-trainer-input {
  margin-bottom: 16px;
  font-size: 40px;
  width: 300px;
  border-radius: 8px;
  padding-left: 8px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  
}

.trainer__layout-trainer-answer {
  font-size: 40px;
  margin-bottom: 16px;
}
