.choose-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.choose-text {
  margin-bottom: 16px;

}

.choose-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.choose-choose {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  width: 600px;

  .choose-type {
    width: 320px;
    text-align: end;
    padding-right: 32px;
  }

  .choose-active {
    background-color: rgb(185, 185, 185);
  }

  .choose-option {
    border: 2px solid rgb(185, 185, 185);
    border-radius: 8px;
    padding: 0px 8px;
    margin-bottom: 8px;

    &:hover{
      background-color: rgb(185, 185, 185);
      cursor: pointer;
    }
  }

}

.choose-submit {
  margin-bottom: 16px;
  width: 300px;
  border-radius: 8px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  background: #15c39a;
  color: white;
  text-align: center;
  cursor: pointer;
}